.availability1 {
    position: relative;
    background-color: #ffffff;
    position: relative;
    background-color: white;
    margin-top: 30px; /* Add margin at the top and bottom */
    }
  
  
  .form1 {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    max-width: 50%;
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the width calculation */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  input {
    padding: 10px;
    border: 1px solid #000000; /* Updated to black border */
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: #333333;
    background-color: transparent; /* Make the input background transparent */
  }
  
   .button {
    padding: 10px;
    background-color: #00ff99;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #00803d;
  }
  
  .bottom-border {
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
  }

  .react-datepicker-wrapper,
.react-datepicker__input-container,
.react-time-picker {
  width: 100%; /* Adjust width */
}

.react-datepicker-wrapper,
.react-time-picker {
  margin-bottom: 15px; /* Spacing between inputs */
}

.react-time-picker__clock,
.react-time-picker__inputGroup {
  font-size: 16px; /* Adjust font size */
}

.react-time-picker__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.react-time-picker__inputGroup {
  flex: 1;
  display: flex;
  align-items: center;
}

.react-time-picker__inputGroup__input {
  width: auto; /* Adjust width as needed */
  min-width: 4em;
}

.react-time-picker__inputGroup__leadingZero{
  display: none;
}

.react-time-picker__clear-button {
  display: none; /* Hide if not needed */
}

/* Additional custom styles */


.react-time-picker {
  /* Adjust the main container of the time picker */
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
}

.react-time-picker__button {
  display:none;
}

/* Add more specific styles as needed */


/* Add more custom styles as needed */

  

  @media screen and (max-width: 768px) {
    .form1 {
      margin-left: 20px; /* Adjusted for smaller screens */
      max-width: 90%; /* Better use of screen width */
    }
  
    input, label {
      font-size: 14px; /* Smaller font size for better fit */
    }
  
    .form-group {
      margin-bottom: 15px; /* Adjust spacing between form groups */
    }
  }
  