.availability1 {
    position: relative;
    background-color: #ffffff;
    position: relative;
    background-color: white;
    margin-top: 30px; /* Add margin at the top and bottom */
    }
  
  
  .form1 {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    max-width: 50%;
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the width calculation */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: #333333;
    background-color: transparent; /* Make the input background transparent */
  }
  
  button {
    padding: 10px;
    background-color: #00ff99;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #00803d;
  }
  
  .bottom-border {
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
  }
  

  /*----------awrapper------------*/
@media screen and (max-width: 768px) {
    .form1 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    max-width: 50%;
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the width calculation */
  }
}