/*-------------online---------*/
.online {
  text-align: center;
  background-color: #ffffff;
}

.online .icon-container {
  position: relative;
  width: 200px; /* Adjust the width of the circle container */
  height: 200px; /* Adjust the height of the circle container */
  background-color: #4CAF50; /* New green tone */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.online .check-icon {
  color: #ffffff; /* Set check color to white */
}

.online .content {
  align-items: center;
}

.online .container {
  display: flex;
  justify-content: space-between;
}

.online .box {
  box-shadow: 0 5px 25px -2px rgba(231, 223, 223, 0.06);
  background-color: #ffffff;
  padding: 20px; /* Adjust padding as needed */
  transition: 0.5s;
  width: 400px; /* Set a fixed width */
  box-sizing: border-box;
  margin: 75px;
}

.online #heading{
  color: #000000;
}

.online .img {
  width: 280px;
  height: 280px;
  margin: auto;
  position: relative;
}
.online img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.online h1 {
  font-weight: 500;
  font-size: 30px;
  margin: 20px 0;
  line-height: 30px;
}
.online span {
  background-color: #ffffff;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
  border-radius: 5px;
}
.online .box{
  background-color: #ffffff;
}

/* Add a media query for larger screens */

/* Add a media query for larger screens */
@media screen and (min-width: 769px) {
  .online .box {
    box-shadow: 0 5px 25px -2px rgba(255, 255, 255, 0.06);
    background-color: #ffffff;
    padding: 10px; /* Adjust padding as needed */
    transition: 0.5s;
    box-sizing: border-box;
    margin: 20px;
    width: calc(25% - 40px); /* Set a width to fit four cards in a row with spacing */
  }

  .online .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
  }

  .online .img {
    width: 250px;
    height: 280px;
    margin: auto;
    position: relative;
  }
  .online img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
  .online .container {
    flex-direction: column;
    align-items: center;
  }
  .online .box {
    box-shadow: 0 5px 25px -2px rgba(255, 255, 255, 0.06);
    background-color: #ffffff;
    transition: 0.5s;
    width: 60%; /* Set a percentage-based width */
    box-sizing: border-box;
    margin-bottom: 15px; /* Center the box horizontally */
  }

  .online .img {
    width: 200px; /* Adjust the width as needed for smaller screens */
    height: 200px; /* Adjust the height as needed for smaller screens */
    margin: auto;
    position: relative;
  }
}
